@import "./components/scss/config";

/////////////////////////////////////////////
// Mobile
/////////////////////////////////////////////
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/dvxvez8mj/image/upload/v1620060250/Project%202/villiansvsheroes2_owbleo.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: $neonDekuGreen;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 10px;
}

a {
  text-decoration: none;
}

/////////////////////////////////////////////
// Header/Nav
/////////////////////////////////////////////
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $myYellow;
  height: 70px;
  .icon-image {
    img.icon {
      height: 50px;
    }
    p {
      margin: 0;
    }
  }
  .MyHero-logo {
    img.logo {
      height: 70px;
    }
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      margin: 0 2px 0 0;
    }
  }
  a {
    color: $myRed;
    // text-decoration: none;
    font-weight: bold;
  }
}

/////////////////////////////////////////////
// Main
/////////////////////////////////////////////
.main {
  height: calc(100vh - 107px);
}

///////////////////////////////////
// Main - Home
///////////////////////////////////
.home {
  height: 100%;
  overflow: auto;
  .villains-heroes {
    height: 300px;
    padding-top: 10px;
  }
  .description {
    .desc {
      margin: 10px 0;
    }
    .desc-M {
      font-size: 18px;
    }
  }
}

///////////////////////////////////
// Main - Heroes
///////////////////////////////////
.heroes {
  background-image: url("https://res.cloudinary.com/dvxvez8mj/image/upload/v1620061066/Project%202/icon1_edj2mm.png" );
  background-position: center;
  background-size: calc(100vh - 30px);
  background-repeat: no-repeat;
  margin: 0;
  .sort {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 320px;
    margin: auto;
    button {
      @include buttons(white,$dekuGreen,$dekuGreen)
    }
  }
}

.heroes-list {
  height: calc(100vh - 280px);
  margin-top: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero {
    margin: 0 10px;
    a {
      &:link {
        color: black;
      }
      &:visited {
        color: $dekuGreen;
      }
    }
    p {
      margin: 0 0 15px 0;
      width: 300px;
      font-weight: 600;
      border: 3px solid $dekuGreen;
      border-radius: 0 40px;
      padding: 8px 0;
      background-color: white;
      &:hover {
        background-color: $myYellow;
      }
    }
  }
}

///////////////////////////////////
// Main - Heroes - Info
///////////////////////////////////
.hero-info {
  height: 100%;
  overflow: auto;
  max-width: 650px;
  margin: 0 auto;
  img{
    height: 200px;
  }
  .character-info {
    h4 {
      margin: 5px 0;
    }
    span {
      font-weight: 500;
      font-style: italic;
    }
    button {
      @include buttons(white, $dekuGreen, $dekuGreen)
    }
  }
}

///////////////////////////////////
// Main - FaveHeroes
///////////////////////////////////
.fave-heroes {
  display: flex;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/dvxvez8mj/image/upload/v1620179812/Project%202/bakugo-background_awhies.png" );
  background-position: center;
  background-size: calc(100vh - 30px);
  background-repeat: no-repeat;
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 180px);
  overflow-y: auto;
  .fave-hero {
    position: relative;
    border: 2px solid $myRed;
    border-radius: 10px;
    width: 250px;
    background-color: white;
    height: 380px;
    margin: 20px;
    box-shadow: 0 0 6px 4px $dekuGreen;
    transition: all 1s;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 8px 6px $dekuGreen;
    }
    h2 {
      margin: 10px 0;
    }
    img {
      height: 175px;
      max-width: 250px;
    }
    h4{
      margin: 5px 0;
    }
    span {
      font-weight: 400;
      font-style: italic;
    }
    button {
      @include buttons($neonDekuGreen,$dekuGreen,$dekuGreen);
      position: absolute;
      left: (250px - 73.64px)/2 ;
      bottom: 2px
    }
  }
}

/////////////////////////////////////////////
// Footer
/////////////////////////////////////////////
.footer {
  background-color: black;
  color: white;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h4 {
    margin: 0;
  }
}

/////////////////////////////////////////////
// Tablet 
/////////////////////////////////////////////
@media screen  and (min-width: 660px) {
  h1 {
    font-size: 36px;
  }

  /* ------------ Header/Nav ------------ */
  .nav {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    .icon-image {
      a {
        position: relative;
        display: flex;
        align-items: center;
        img.icon {
          height: 80px;
        }
        p {
          display: none;
          position: absolute;
          font-size: 24px;
          left: 95px;
        }
        &:hover p {
          display: block;
        }
      }
    }
    .MyHero-logo {
      height: 80px;
      img.logo {
        height: 80px
      }
    }
    .nav-links {
      flex-direction: row;
      align-items: center;
      a {
        margin: 0 10px;
        font-size: 24px;
      }
    }
  }

  /* ------------ Main ------------ */
  .main {
    height: calc(100vh - 120px);
  }

  /* ------ Home ------ */
  .home {
    .villains-heroes {
      height: 400px;
      padding: 15px;
    }
  }

  /* ------ Heroes ------ */
  .heroes {
    .sort {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      width: 650px;
    }
  }
  .heroes-list {
    height: calc(100vh - 251px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  /* ------------ Footer ------------ */
  .footer {
    height: 40px;
    h4 {
      font-size: 20px;
    }
  }
}

/////////////////////////////////////////////
// Desktop 
/////////////////////////////////////////////
@media screen  and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  /* ------------ Header/Nav ------------ */
  .nav {
    height: 100px;
    .icon-image {
      a {
        img.icon {
          height: 100px;
        }
        p {
          font-size: 30px;
          left: 120px;
        }
      }
    }
    .MyHero-logo {
      height: 100px;
      img.logo {
        height: 100px
      }
    }
    .nav-links {
      flex-direction: row;
      align-items: center;
      a {
        margin: 0 20px;
        font-size: 30px;
      }
    }
  }

  /* ------------ Main ------------ */
  .main {
    height: calc(100vh - 148px);
  }

  /* ------ Home ------ */
  .home {
    .villains-heroes {
      height: 500px;
      padding: 20px;
    }
    .description {
      .desc-M {
        font-size: 22px;
      }
    }
  }
  /* ------ Heroes ------ */
  .heroes-list {
    height: calc(100vh - 285px);
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
  }

  /* ------------ Footer ------------ */
  .footer {
    height: 48px;
    h4 {
      font-size: 24px;
    }
  }
}