@import "./components/scss/config";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $neonDekuGreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
}

/////////////////////////////////////////////
// Header/Nav
/////////////////////////////////////////////
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $myYellow;
  height: 70px;

  .icon-image {

    img.icon {
      height: 50px;
    }

    p {
      margin: 0;
    }
  }

  .MyHero-logo {

    img.logo {
      height: 70px;
    }
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    a {
      margin: 0 0 35px 0;
    }
  }
  
  a {
    color: $myRed;
    text-decoration: none;
    font-weight: bold;
  }
}

/////////////////////////////////////////////
// Main
/////////////////////////////////////////////
.main {
  // background-color: $neonDekuGreen;
  height: calc(100vh - 107px);
  background-size: cover;
  margin: 0;
}

///////////////////////////////////
// Main - Heroes
///////////////////////////////////
.heroes {
  h1 {
    padding: 10px;
  }
}

.heroes-list {
  height: calc(100vh - 190px);
  padding-top: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    p {
      margin: 0 0 15px 0;
      width: 225px;
      font-weight: 600;
      border: 3px solid $dekuGreen;
      border-radius: 50%;
      padding: 8px 0;
      background-color: white;
      &:hover {
        background-color: $myYellow;
      }
    }
  }
}

/////////////////////////////////////////////
// Footer
/////////////////////////////////////////////
.footer {
  background-color: black;
  color: white;
  height: 37px;
}